# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*.tsbuildinfo

# --- Logs ---
logs/
*.log

# --- Env files ---
.env
.env.*

# --- VS Code ---
.vscode/
*.code-workspace

# --- OS cruft ---
.DS_Store
Thumbs.db

# --- Docker ---
*.pid
*.pid.lock
docker-data/

# --- File System ---
story/*
